body {
    /*padding-top: 60px;
    padding-bottom: 60px;*/
    font-size: 1.5em;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.4em;
}

.well h2 {
    color: #C96B8A;
    font-size: 1.2em;
}

.well h3 {
    color: #A9A9F5;
    font-size: 1em;
}

.well h4 {
    font-size: 1em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}


.sidebar-link {
    list-style-position: inside;
    padding-left:0;
}

.tags {
    color: black;
    font-size:0.9em;
}

blockquote {
  border: 0;
  margin-left: 1em;
  /*padding-left: 2.0em*/
}

blockquote>p:before {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0em;
  margin-left: -0.55em;
  margin-right: 0.25em;
  vertical-align: 0.0em;
  left-align: -1em;
  text-indent: 5em;
}

/*blockquote>p>cite:before {
  color: #ccc;
  content: close-quote;
  font-size: 2em;
  line-height: 0em;
  margin-right: 0.25em;
  vertical-align: 0.0em;
  left-align: -1em;
  text-indent: 5em;
}*/

cite {
    font-size:.8em;
}


.float-right {
    float: right;
}

.toc-sidebar {
    height: 100%;
    position: fixed;
    padding-top: 20px;
}

#toc {
    list-style-position: inside;
    padding-left:0;
    font-size:0.9em;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 0px 0px;
}

#toc a {
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 0px;
}

#toc .toc-h3 {
    padding-left: 5px;
}

#disqus_thread {
  padding-top:20px
}

/*
    .table-1 style from http://www.graemeboy.com/css-table-styles
*/

.table-blue thead, .table-blue tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(168, 192, 221);
}
.table-blue {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(168, 192, 221);
}

/* Padding and font style */
.table-blue td, .table-blue th {
    padding: 3px 10px;
    font-size: 12px;
    font-family: Verdana;
    color: rgb(92, 125, 162);
}

/* Alternating background colors */
.table-blue tr:nth-child(even) {
    background: rgb(211, 223, 237)
}
.table-blue tr:nth-child(odd) {
    background: #FFF
}

.sanskrit {
    font-family: Kokila, "Kohinoor Devanagari", "Arial Unicode MS";
    font-size: 1.8em;
}

blockquote {
    font-size: 1.0em;
}
