---
layout: well
title: Archives
---

Note: A list of all posts sorted by tag is available <a href="{{site.baseurl}}/tag_archive.html">here</a>.

<p/>

{%for post in site.posts %}
    {% unless post.next %}
        <h2>{{ post.date | date: '%Y' }}</h2>
        <ul>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            </ul>
            <h2>{{ post.date | date: '%Y' }}</h2>
            <ul>
        {% endif %}
    {% endunless %}

    <li>{{ post.date | date_to_string }}: <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
      {% include tags-and-categories.html %}
    </li>

{% endfor %}
</ul>
