---
layout: well
title: Archives
---

See also: A list of all posts sorted by
<a href="{{site.baseurl}}/archives/archive_category.html">blog</a> and
<a href="{{site.baseurl}}/archives/archive_tag.html">tags</a>.

{% for post in site.posts %}
    {% unless post.next %}
        <h2>{{ post.date | date: '%Y' }}</h2>
        <ul>
    {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
            </ul>
            <h2>{{ post.date | date: '%Y' }}</h2>
            <ul>
        {% endif %}
    {% endunless %}

    <li>{{ post.date | date_to_string }}: <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
      <span class="float-right">
        {% include tags-and-categories.html %}
      </span>
      <p class="nospaceafter"/>
    </li>

{% endfor %}
</ul>
