---
layout: default
blog: front
omitcategories: true
title: aupasana.com
blogstodisplay:
 - sanskrit
 - tech
---

<div class="article">
	<div class="well">
    <h1>Welcome to aupasana.com</h1>
  </div>
</div>

{% for cat in page.blogstodisplay %}
	<h2><a href="{{site.baseurl}}/blog/{{cat}}.html">Recent {{cat | capitalize }} blog posts</a></h2>
  <div class="well table-responsive">
  <table class="table borderless table-condensed">
  	{% for post in site.categories[{{cat}}] limit:5 %}
        <tr>
          <td class="col-md-2">
    			     {{ post.date | date_to_string }}
          </td>
          <td class="col-md-4">
              <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
          </td>
          <td>
    			     {% include tags-and-categories.html %}
          </td>
        </tr>
  	{% endfor %}
  </table>
  </div>
{% endfor %}

{% for post in site.categories[page.blog] limit:5 %}
  <div class="article">
      <div class="well">

          <!-- Title -->
          <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>

          <!-- Body -->
          <div class="content">

              {% if post.excerpt and post.excerpt != post.content %}
                {{ post.excerpt }}
                <a href="{{ site.baseurl}}{{ post.url }}">continue reading ...</a><p/>
              {% else %}
                {{ post.content }}
              {% endif %}
          </div>
      </div>
  </div>
{% endfor %}
