---
layout: blog
blog: front
omitcategories: true
title: aupasana.com
blogstodisplay:
 - sanskrit
 - tech
---

<div class="article">
	<div class="well">

    <h1>welcome to aupasana.com</h1>

    Here are some recent blog posts:

		{% for cat in page.blogstodisplay %}
			<h3><a href="{{site.baseurl}}/blog/{{cat}}.html">{{cat | capitalize }}</a></h3>
			{% for post in site.categories[{{cat}}] limit:5 %}
					{{ post.date | date_to_string }}: <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
					{% if post.author != nil %}
						<span class="tags">by {{post.author}}</span>
					{% endif %}
  				{% include tags-and-categories.html %}
          <br/>
			{% endfor %}
		{% endfor %}

	</div>
</div>
