<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>
      {% if page.title != nil and page.title != '' %}
         {{page.title}} -
      {% else %}
         {{page.url}} -
      {% endif %}
      {{site.name}}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/toc.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <!-- disabling navbar-fixed-top since it causes problems with anchor navigation -->
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="{{site.baseurl}}/blogs/sanskrit.html">Sanskrit Blog</a></li>
                    <li class=""><a href="{{site.baseurl}}/blogs/tech.html">Technology Blog</a></li>
                    <li class=""><a href="{{ site.baseurl }}/mobile_navigation.html">Site Map</a></li>
                    <li class="visible-xs-block"><a href="{{site.baseurl}}/pages/about.html">About</a></li>
                    <li class="visible-xs-block"><a href="http://amara.aupasana.com">Amara Kosha</a></li>
                    <li class="visible-xs-block"><a href="http://docs.aupasana.com">Document Library</a></li>
                    <li class="visible-xs-block"><a href="{{site.baseurl}}/pages/links.html">Links</a></li>
                    <li class="visible-xs-block"><a href="{{site.baseurl}}/pages/publications.html">Publications</a></li>
                    <li class="visible-xs-block"><a href="{{site.baseurl}}/pages/puja.html">Puja</a></li>
                    <li class="visible-xs-block"><a href="{{site.baseurl}}/pages/sanskrit.html">Sanskrit</a></li>
                    <li class="visible-xs-block"><a href="{{site.baseurl}}/pages/software.html">Software</a></li>
                    <li class="visible-xs-block"><a href="{{site.baseurl}}/pages/stardict.html">Stardict</a></li>
                    <li class="visible-xs-block"><a href="{{site.baseurl}}/pages/kalpa.html">Veda / Kalpa</a></li>
                    <li class="visible-xs-block"><a href="{{site.baseurl}}/pages/vedanta.html">Vedanta</a></li>
                </ul>
              </div>

        </div>
    </div>
</div>

{% if site.sitemessage != nil and site.sitemessage != '' %}
<center><strong>{{site.sitemessage}}</strong></center>
{% endif %}
