<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>
      {% if page.title != nil and page.title != '' %}
         {{page.title}} -
      {% else %}
         {{page.url}} -
      {% endif %}
      {{site.name}}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/toc.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <!-- disabling navbar-fixed-top since it causes problems with anchor navigation -->
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blogs
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          {% include list-blogs.html %}
                        </ul>
                      </li>
                      <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            {% include list-pages.html %}
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Links
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            {% include list-links.html %}
                          </ul>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{ site.baseurl }}/sitemap.html">Site Map</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>

{% if site.sitemessage != nil and site.sitemessage != '' %}
<center><strong>{{site.sitemessage}}</strong></center>
{% endif %}
