<li><a href="{{site.baseurl}}/pages/about.html">About</a></li>
<li><a href="{{site.baseurl}}/pages/publications.html">Publications</a></li>

<li><a href="{{site.baseurl}}/pages/puja/index.html">Puja</a></li>
<li class="submenu"><a href="{{site.baseurl}}/pages/puja/why-homa.html">&nbsp;&nbsp;&nbsp;Why Homa</a></li>

<li><a href="{{site.baseurl}}/pages/sanskrit/index.html">Sanskrit</a></li>
<li class="submenu"><a href="{{site.baseurl}}/pages/sanskrit/reading-list.html">&nbsp;&nbsp;&nbsp;Reading List</a></li>

<li><a href="{{site.baseurl}}/pages/software.html">Software</a></li>
<li><a href="{{site.baseurl}}/pages/stardict.html">Stardict</a></li>
<li><a href="{{site.baseurl}}/pages/kalpa.html">Veda / Kalpa</a></li>
<li><a href="{{site.baseurl}}/pages/vedanta.html">Vedanta</a></li>
