<div class="sidebar well visible-md visible-lg">
	<img class="visible-md visible-lg" src="{{site.baseurl}}/{{site.sitelogo}}" align="middle" width="100%"/>
</div>

<div class="sidebar well visible-md visible-lg">
	<h1>blogs</h1>
	<ul>
		{% include list-blogs.html %}
	</ul>
</div>

<div class="sidebar well visible-md visible-lg">
	<h1>pages</h1>
	<ul>
		{% include list-pages.html %}
	</ul>
</div>

<div class="sidebar well visible-md visible-lg">
	<h1>links</h1>
	<ul>
		{% include list-links.html %}
	</ul>
</div>

<div class="sidebar well visible-md visible-lg">
{% assign sorted_tags = (site.tags | sort:0) %}

	<h1>tagcloud</h1>
	<div class="sidebar-link">
		{% for tag in sorted_tags %}
		    <span style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 75 }}%">
		        <a href="{{site.baseurl}}/blog/archive_tag.html#{{tag | first | downcase}}">
		            {{ tag | first }}
		        </a>
		    </span>
		{% endfor %}
	</div>
</div>
