<img class="visible-md visible-lg" src="{{site.baseurl}}/{{site.sitelogo}}" align="middle" width="70%" height="70%"/>

<p/>
<p/>
<p/>

<div class="sidebar well">
	{% include blogs-list.html %}
</div>

<div class="sidebar well">
	{% include pages-list.html %}
</div>

<div class="sidebar well">
{% assign sorted_tags = (site.tags | sort:0) %}

	<h1>tags</h1>
	<div class="sidebar-link">
		{% for tag in sorted_tags %}
			<a href="{{site.baseurl}}/tag_archive.html#{{tag | first | downcase}}">{{tag | first | downcase }}</a>
		{% endfor %}
		<a href="{{site.baseurl}}/tag_archive.html#none">untagged</a> 
	</div>
</div>




