<script type="text/javascript">
$( document ).ready(function() {
      //    http://stackoverflow.com/questions/9847580/how-to-detect-safari-chrome-ie-firefox-and-opera-browser
    // Opera 8.0+
  var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
      // Firefox 1.0+
  var isFirefox = typeof InstallTrigger !== 'undefined';
      // At least Safari 3+: "[object HTMLElementConstructor]"
  var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
      // Internet Explorer 6-11
  var isIE = /*@cc_on!@*/false || !!document.documentMode;
      // Edge 20+
  var isEdge = !isIE && !!window.StyleMedia;
      // Chrome 1+
  var isChrome = !!window.chrome && !!window.chrome.webstore;
      // Blink engine detection
  var isBlink = (isChrome || isOpera) && !!window.CSS;

  if (isFirefox !== true && isEdge !== true && isChrome !== true && isSafari !== true) {
    $("#unsupported").show();
  }

  if (isSafari) {
    $("#unsupported-safari").show();

    document.body.innerHTML = document.body.innerHTML.replace(/॑॑/g, '᳚');

    document.body.innerHTML = document.body.innerHTML.replace(/॑ः/g, 'ः॑');

    document.body.innerHTML = document.body.innerHTML.replace(/([^ः])॑/g, '$1<span class="shift-accents-up">॑</span>');
    document.body.innerHTML = document.body.innerHTML.replace(/([^ः])᳚/g, '$1<span class="shift-accents-up">᳚</span>');
    document.body.innerHTML = document.body.innerHTML.replace(/॒/g, '<span class="shift-accents-down">॒</span>');

    // document.body.innerHTML = document.body.innerHTML.replace(/(र्.{0,4})॑/g, '$1<span class="shift-accents-up">॑</span>');
    // document.body.innerHTML = document.body.innerHTML.replace(/(र्.{0,4})᳚/g, '$1<span class="shift-accents-up">᳚</span>');
    // document.body.innerHTML = document.body.innerHTML.replace(/्॑/g, '्<span class="shift-accents-up">॑</span>');
    // document.body.innerHTML = document.body.innerHTML.replace(/ꣳ॑/g, 'ꣳ<span class="shift-accents-up">॑</span>');
    // document.body.innerHTML = document.body.innerHTML.replace(/ꣳ॒/g, 'ꣳ<span class="shift-accents-down">॒</span>');
  }
});
</script>
