<!--
Note: This code is included in both pages and posts.
Figure out who the caller is, and iterate of it's categories and tags
 -->

{% if post.categories.size > 0 or post.tags.size > 0 %}
  {% assign caller = post %}
{% else if %}
  {% assign caller = page %}
{% endif %}

<!-- If a _page_ has specified that categories shoudl be omitted, omit them -->
{% if page.omitcategories == nil or page.omitcategories != true %}
    posted in:
    {% for cat in caller.categories %}
        <a href="{{site.baseurl}}/blog/{{cat}}_archive.html">{{cat}}</a>
    {% endfor %}
{% endif %}

<!-- Deal with tags -->
<span class="tag-empty">&nbsp;</span>
{% for tag in caller.tags %}
  <span class="tag">
    <a href="{{site.baseurl}}/blog/{{caller.categories[0]}}_archive.html#{{tag}}">{{tag}}</a>
  </span>
{% endfor %}
