---
layout: default
---
{% if page.title != nil %}
  <div class="well">
    <h1>{{ page.title }}</h1>
    <a href="{{ site.baseurl}}/blog/{{page.blog}}_archive.html">View blog archives</a>
  </div>
{% endif %}

{{content}}

{% for post in site.categories[page.blog] limit:5 %}
  <div class="article">
      <div class="well">

          <!-- Title -->
          <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>

          {% if post.author != nil %}
          <div><span class="author">Author: </span>{{post.author}}</div>
          {% endif %}

          {% if post.source != nil %}
          <div><span class="source">Source: </span><a href="{{post.source}}">{{post.source}}</a></div>
          {% endif %}

          {% if post.author != nil or post.source != nil %}
          <p/>
          {% endif %}

          <!-- Body -->
          <div class="content">
            {% if post.layout == "sanskrit-post"  %}
              <div class="sanskrit">
            {% endif %}

              {% if post.excerpt and post.excerpt != post.content %}
                {{ post.excerpt }}
                <a href="{{ site.baseurl}}{{ post.url }}">continue reading ...</a><p/>
              {% else %}
                {{ post.content }}
              {% endif %}

            {% if post.layout == "sanskrit-post"  %}
              </div>
            {% endif %}

          </div>
        {% include tags-and-categories.html %}
      </div>
  </div>
{% endfor %}

{% if site.categories[page.blog].size > 5 %}
<h2>A few more recent posts</h2>

<div class="well table-responsive">
  <table class="table borderless table-condensed">
  {% for post in site.categories[page.blog] offset:5 limit:20 %}
    <tr>
      <td class="col-md-2">
           {{ post.date | date_to_string }}
      </td>
      <td class="col-md-4">
          <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
      </td>
      <td>
           {% include tags-and-categories.html %}
      </td>
    </tr>
  {% endfor %}
  </table>

  <a href="{{ site.baseurl}}/blog/{{page.blog}}_archive.html">View all {{page.blog}} blog posts</a>

</div>
{% endif %}
