---
layout: well
---
<script src="{{ site.baseurl }}/js/list.min.js"></script>
<script src="{{ site.baseurl }}/js/list.pagination.min.js"></script>

{% assign sorted_tags = (site.tags | sort:0) %}
<button class="btn btn-xs btn-link" onclick="searcharchives('');">all posts</button>
{% for tag in sorted_tags %}
    <button class="btn btn-xs btn-link" onclick="searcharchives('{{tag[0]}}');">{{tag[0]}}</button>
{% endfor %}


<div id="archive">
  <br/>
  <input id="search" class="search" placeholder="Search" />
  <button onclick="searcharchives('');">View all posts</button>
  <button class="sort" data-sort="date">Sort by date</button>
  <button class="sort" data-sort="title">Sort by title</button>
  <button class="sort" data-sort="tag">Sort by tag</button>
  <p/>


  <div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td>Date</td>
        <td>Title</td>
        <td>Tags</td>
      </tr>
    </thead>
    <tbody class="list">
    {% for post in site.categories[page.blog] %}
      <tr>
        <td class="date">
          {{ post.date | date: "%Y-%m-%d" }}
        </td>
        <td>
          <a href="{{site.baseurl}}{{ post.url }}">
            <span class="title">{{ post.title }}</span>
          </a>
        </td>
        <td>
          {% for t in post.tags %}
            <a href="#" onclick="searcharchives('{{t}}');">{{ t }}</a>
          {% endfor %}
          <span style="display:none" class="tag">{{ post.tags | join: ' '}}</span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>

  <div class="pagination"></div>
</div>

<script type="text/javascript">
    (function() {
      var paginationOptions = {
       name: "pagination",
       paginationClass: "pagination",
       innerWindow: 10,
       left: 10,
       right: 10
     };

      var options = {
        valueNames: [ 'tag', 'date', 'title' ],
        page:50,
        plugins: [
          ListPagination(paginationOptions)
        ]
      };

      archiveList = new List('archive', options);
    })();

    function searcharchives(str) {
      $("#search").val(str);
      archiveList.search(str);
    }

    $( document ).ready(function() {
        var desiredtag = window.location.hash.substring(1);
        var desiredtag_dec = decodeURIComponent(desiredtag);
        searcharchives(desiredtag_dec);
    });

</script>
