<!--
	The default layout is used by the index page, which
	does not use a single well for all content, but creates one
	for each post.
-->

{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>

        {% assign maincol = "col-md-9" %}
        {% if page.toc == true %}
          {% assign maincol = "col-md-7" %}
        {% endif %}

        <div class="{{maincol}}">
        {{ content }}
        </div>

        <!-- Optional third column to display the table of contents in three-column layout -->
       {% if page.toc  == true %}
           <div class="col-md-2">
               <div class="toccontent well">
                   <h1>Contents</h1>
                   <ul id="toc">
                   </ul>
               </div>
           </div>
       {% endif %}
    </div>
</div>

{% include footer.html %}
