---
layout: well
omittitle: foobar
---

{% if page.layout == "sanskrit-post" %}
<div class="sanskrit">
{% endif %}

  <h1>{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}</h1>

  {% if page.author != nil %}
  <div><span class="author">Author: </span>{{page.author}}</div>
  {% endif %}

  {% if page.source != nil %}
  <div><span class="source">Source: </span><a href="{{page.source}}">{{page.source}}</a></div>
  {% endif %}

  {% if page.author != nil or page.source != nil %}
  <p/>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  <!-- Show tags and categories -->
  {% include tags-and-categories.html %}

{% if page.layout == "sanskrit-post" %}
</div>
{% endif %}


<div id="disqus_thread">
</div>

{% if site.comments == true %}
  {% include disqus-counts.html %}
  {% include disqus-comments.html %}
{% endif %}
