{% include header.html %}

<div class="container container-left">

<!-- Posts have a two-column layout : sidebar + content -->
    <div class="row">

        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>

        <div class="col-md-9">
          <div class="article">
            <div class="well">

              <!-- Show title and content -->

              <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}</a></h1>

              {% if page.author != nil %}
              <div><span class="author">Author: </span>{{page.author}}</div>
              {% endif %}

              {% if page.source != nil %}
              <div><span class="source">Source: </span><a href="{{page.source}}">{{page.source}}</a></div>
              {% endif %}

              {% if page.author != nil or page.source != nil %}
              <p/>
              {% endif %}

              <div class="post-content">
                {{ content }}
              </div>

              <!-- Show tags and categories -->
              {% include tags-and-categories.html %}

              <div id="disqus_thread">
              </div>

              {% if site.comments == true %}
                {% include disqus-counts.html %}
                {% include disqus-comments.html %}
              {% endif %}


            </div> <!-- well -->
          </div> <!-- article -->
        </div> <!-- col-md-9 -->
    </div> <!-- row -->
</div> <!-- container -->


{% include footer.html %}
