{% include header.html %}

<div class="container container-left">

<!-- Posts have a two-column layout : sidebar + content -->
    <div class="row">

        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>

        <div class="col-md-9">
          <div class="article">
            <div class="well">

              <!-- Show title and content -->

              <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}</a></h1>
              <div class="post-content">
                {{ content }}
              </div>

              <!-- Show tags and categories -->
              {% include tags-and-categories.html %}

              <!-- Show comments -->
              {% if site.comments == true %}
                <div id="disqus_thread">
                </div>
              {% endif %}

            </div> <!-- well -->
          </div> <!-- article -->
        </div> <!-- col-md-9 -->
    </div> <!-- row -->
</div> <!-- container -->

{% if site.comments == true %}
  {% include disqus-comments.html %}
{% endif %}

{% include footer.html %}
