---
layout: default
---

<link href="{{ site.baseurl }}/css/vedicfonts-v10-modified.css" rel="stylesheet">
<div class="article">

  <div class="alert alert-info" id="unsupported" style="display:none;">
    <strong>Warning: A compliant browser was not detected.</strong>
      These documents are only known to render correctly on IE (Edge),
      Chrome and Firefox. If you are using some other browser, the text
      may not render correctly. Safari and iOS devices do not support the
      siddhanta font. Check your <a href="{{site.baseurl}}/pages/suktas/browser-test.html">
      browser compatibility here</a>.
      <button type="button" class="btn btn-secondary close" data-dismiss="alert">Dismiss</button>
  </div>

  <div id="unsupported-safari" style="display:none;">
    <div class="alert alert-info" >
      <strong>Warning:</strong> Safari does not render the siddhanta font correctly.
      An experimental workaround for <i>some</i> of the issues is available. You will have
      better results with Chrome or Firefox.
      <br/><button type="button" class="btn btn-primary" id="fixSvarasButton" onClick="fixSvarasOnClick()">Apply workaround</button>
    </div>
    <p/>
  </div>
</div>

<div lang="sa">
  <div class="article">
    <div class="well">
      {{ content }}
    </div>
  </div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
    var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
    if (isSafari) {
      $("#unsupported-safari").show();
    }
})

function fixSvarasOnClick() {
    $("#fixSvarasOnClick").prop('disabled', true);
    fixSvaras();
    $("#unsupported-safari").hide();
}

</script>

{% include sukta-fixup.html %}
