---
layout: default
---

<link href="{{ site.baseurl }}/css/vedicfonts-v10-modified.css" rel="stylesheet">
<div class="article">

  <div class="alert alert-info" id="unsupported" style="display:none;">
    <strong>Warning: A compliant browser was not detected.</strong>
      These documents are only known to render correctly on IE (Edge),
      Chrome and Firefox. If you are using some other browser, the text
      may not render correctly. Safari and iOS devices do not support the
      siddhanta font. Check your <a href="{{site.baseurl}}/pages/suktas/browser-test.html">
      browser compatibility here</a>.
      <button type="button" class="btn btn-secondary close" data-dismiss="alert">Dismiss</button>
  </div>

  <div class="alert alert-info" id="unsupported-safari" style="display:none;">
    <strong>Warning:</strong> Safari does not render the siddhanta font correctly.
    Though a number of workarounds have been applied, there will still be strange
    artifacts.    
      <button type="button" class="btn btn-secondary close" data-dismiss="alert">Dismiss</button>
  </div>

</div>



<div lang="sa">
  <div class="article">
    <div class="well">
      {{ content }}
    </div>
  </div>
</div>

{% include sukta-fixup.html %}
