{% include header.html %}


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>

        {% if page.toc == true or page.tagpage == true %}
        <div class="col-md-7">
        {% endif %}

        {% if page.toc != true and page.tagpage != true %}
        <div class="col-md-8">
        {% endif %}


            <div class="well">
                {% if page.title != '' and page.title != nil %}
                    <h1>{{ page.title }}</h1>
                {% endif %}
                
                {{ content }}
            </div>
        </div>

        {% if page.toc  == true %}
            <div class="col-md-2">
                <div class="toccontent well">
                    <h1>Contents</h1>
                    <ul id="toc">
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if page.tagpage  == true %}
            <div class="col-md-2">
                <div class="toccontent well">
                    <h1>Tags</h1>
                    <div id="tag-cloud">
                      {{ site | tag_cloud }}
                    </div>
                </div>
            </div>
        {% endif %}



    </div>
</div>


{% include footer.html %}
